@{
    Layout = "_Layout";
}
@using CorrespondentPortal.WebApi.Infrastructure.Shared
@*@model CorrespondentPortal.WebApi.ViewModels.HomeIndexViewModel*@

<div class="page-command-area">
    <div class="command-heading">
        <h1 class="header">Loan Submission</h1>
    </div>
    <div class="command-toolbox">
        <button class="btn btn-default">Cancel</button>
    </div>
</div>
<div id="loanSubmissionDiv" class="p-md-5 p-sm-3 p-2" style="display:none">
    <div class="meta-table">
        <div class="card card-knockout">
            <div class="card-header">
                <a aria-controls="cardCollapse1" aria-expanded="true" class="collapse-heading collapsed"
                   data-toggle="collapse" href="#cardCollapse1">
                    Loan Attributes
                </a>
            </div>
            <div aria-labelledby="cardCollapse1" class="collapse" id="cardCollapse1" role="tabpanel">
                <div class="card-body">
                    <h4 class="card-title">First, give us some basic information about the loan:</h4>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="required">Loan Reference Number</label>
                                <input aria-required="true" class="form-control" required="true"
                                       aria-label="Loan Reference Number">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="required">Borrower Name</label>
                                <input aria-required="true" class="form-control" required="true"
                                       aria-label="Borrower Name">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="demoInputField">Anticipated Closing Date</label>
                                <input class="form-control" id="demoInputField">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>

        <div class="card card-knockout">
            <div class="card-header">
                <a aria-controls="cardCollapse1" aria-expanded="true" class="collapse-heading collapsed"
                   data-toggle="collapse" href="#cardCollapse1">
                    Documents
                </a>
            </div>
            <div aria-labelledby="cardCollapse1" class="collapse" id="cardCollapse1" role="tabpanel">
                <div class="card-body">
                    <h4 class="card-title">Provide any relevant documents for the loan:</h4>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="fileInput" class="required">Mismo XML</label>
                                <div class="custom-file">
                                    <input id="fileInput" type="file" class="custom-file-input" required="true" aria-required="true">
                                    <div class="custom-file-control">
                                        <div class="input-group">
                                            <div class="form-control"></div>
                                            <div class="input-group-append">
                                                <button class="btn btn-default" type="button">Browse</button>
                                            </div>
                                            <button aria-pressed="false" class="btn btn-primary btn-lg btn-icon-only" data-animation="false" data-toggle="tooltip" tabindex="0" title="" type="button" data-original-title="Create Order">
                                                <span class="fa fa-plus"></span>
                                                <span class="sr-only">Add File</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8"></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered col-2-bloat col-1-align-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Filename</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: FilesToUpload">
                                    <tr data-bind="">
                                        <td data-bind=""></td>
                                        <td data-bind=""></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    jQuery(document).ready(function () {
        $.ajax('Init', {
            contentType: 'application/json; charset=UTF-8',
            cache: false,
            type: 'POST',
            success: function (data) {
                viewModel = new LoanSubmissionViewModel(data, $('#fileInput'));
                ko.applyBindings(viewModel, $('#loanSubmissionDiv')[0]);
                $('#loanSubmissionDiv').show();
                $.unblockUI();
            }
        });
    });
</script>