@{
    Layout = "_Layout";
}
<div class="container-fluid bg-gallery-30">
    <div class="row">
        <div class="col-md-8 offset-md-2 py-5">
            <div class="alert alert-warning">
                <h4 class="text-center">It appears you are unauthorized to view this page.</h4>
            </div>
        </div>
    </div>
</div>
